@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: "Jost", sans-serif;
  background: #f4f8fb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
button {
  font-family: inherit;
}

/* scrollbars */
::-webkit-scrollbar {
  width: 8px;
  background: #e0e7ef;
}
::-webkit-scrollbar-thumb {
  background: #b6c6e3;
  border-radius: 8px;
}

/* Utility classes for spacing */
.mt-2 {
  margin-top: 2rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
